<!DOCTYPE html>
<html dir="ltr" lang="en-US">

    <head>
        <meta charset="UTF-8" />
        <title>硬件与描述语言课程</title>
        <!-- Stylesheet -->
        <link rel="stylesheet" type="text/css" media="all" href="__PUBLIC__/home/css/style.css" />
        <!--<link rel="stylesheet" type="text/css" media="all" href="__PUBLIC__/home/css/responsive.css" />-->
        <!-- Google Font -->
        <!--<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic' rel='stylesheet' type='text/css'>-->
        <!--[if lt IE 9]>
        <script src="js/html5.js" type="text/javascript"></script>
        <![endif]-->
        <script type="text/javascript" src="__JS__/jquery-1.10.2.min.js"></script>
        <style type='text/css'>
            .input_search {
                background: #FDFDFD;
                border: 1px solid #D4D8D9;
                color: #7d7f80;
                text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
                padding: 0;
                box-shadow: 0 0 5px rgba(0, 0, 0, 0.05) inset;
                border-radius: 1px;
                height: 23px;
                width: 200px;
                -moz-border-radius: 1px;
                -webkit-border-radius: 1px;
            }
            .search_btn {
                width: 48px;
                height:25px
            }
        </style>
    </head>
    <body id="body" class="home">
        <!-- #site-container -->
        <div id="site-container"> 

            <!-- #header-top -->
            <div id="header-top" class="clearfix">
                <div class="left"> 硬件与描述语言课程网站 | {$_SESSION[email][email]}</div>
            </div>
            <!-- /#header-top --> 
            <!-- #header -->
            <header id="header" class="clearfix"> 

                <!-- #primary-nav -->

                <div style='padding:10px; height:30px'>
                    <div style='float:left; width:70%; font-size:18px; font-weight:bold' class="current-menu-item"><a href="__ROOT__/" >首页</a></div>
                    <div style='float:left; width:30%'>
                        <form action="__ROOT__/index.php/Index/search_news" method="post">
                            <input class='input_search' type='text' name='search_title' value="{$condition}" />
                            <input class='input_search search_btn' type='submit' value='搜索' >
                        </form>
                    </div>
                </div>
                <!-- #primary-nav --> 
            </header>

            <!-- /#header --> 
            <!-- #primary -->
            <div id="primary" class="clearfix"> 
                <!-- #content -->
                <section id="content" role="main" class="fullwidth">
                    <div id="home-blocks" class="clearfix" style="padding-bottom: 10px; min-height: 450px">
                        <h3 class="deco"><span class="outer"><span class="inner">搜索结果列表</span></span></h3>
                        <div style="">
                            <volist id="new" name="news">
                                <div id="callout">
                                    <div style='width:70%; float: left'>
                                        <a href='__URL__/detail?id={$new.id}'>{$new.title}</a>
                                    </div>
                                    <div style='width:30%; float: left'>
                                        来源：{$new.type}
                                    </div>
                                </div>
                            </volist>
                        </div>
                    </div>
                </section>
                <!-- /#content --> 
            </div>
            <!-- /#primary --> 

            <!-- #footer-bottom -->
            <footer id="footer-bottom" class="clearfix">
                <nav id="footer-nav">
                    <ul class="nav-footer">
                        <li><a href="index-2.html" >Homepage</a></li>
                        <li><a href="#">Features</a></li>
                        <li><a href="portfolio.html" >Portfolio</a></li>
                        <li><a href="blog.html" >Blog</a></li>
                        <li><a href="contact.html" >Contact</a></li>
                    </ul>
                </nav>
                <div id="copyright">&copy; Copyright &copy; 2013.Company name All rights reserved. Collect from </div>
            </footer>
            <!-- /#footer-bottom --> 

        </div>
        <!-- /#container --> 
    </body>
</html>