<style>
    .divOver{
        background:  #E0ECF9;
        color: #33ccff;
        /*border-left:2px solid #ddd;*/
    }
    .divClick{
        background: #0066cc;
        color: white;
        /*font-weight: bold;*/
    }
</style>
<script>
    $(document).ready(function() {
        $(".nav").hover(function() {
            $(this).addClass('divOver')
        }, function() {
            //鼠标离开时移除divOver样式
            $(this).removeClass('divOver');
        }
        );

        $(".nav").click(function() {
//            $(this).removeClass('divOver');
//            $(this).addClass("divClick");
            var id = $(this).attr("id");
            if (id == 1) {
                $("#right").load("__ROOT__/admin.php/Message/message_list");
            }
            if (id == 2) {
                $("#right").load("__ROOT__/admin.php/Classify/classify_list");
            }
            if (id == 3) {
                $("#right").load("__ROOT__/admin.php/PassWord/update_passwordUI");
            }
        });

        $("#btnadd").click(function() {
            var form = $("form").serialize();
            alert(form);
            return false;
        });
    });
</script>
<div style="width:99%;height: 30px;line-height: 30px;font-size: 14px;font-weight: bold;color: blue;">
    <div style="margin-left: 8px;">信息发布</div>
    <div style="clear: both;"></div>
</div>
<form method="post">
    <div class="row">
        <span >标题：</span><input style="height:28px; width: 87%;"  type="text" name="title" value="">
    </div>
    <div class="row">
        <span>类别：</span><select name="type" style="width: 87%; height: 28px;">
            <option value="0">------所有类型-----</option>
            <volist name="type_list" id="vo">
                <option value="{$vo.id}" >{$vo.type}</option>
            </volist>
        </select>   
    </div>

    <div class="row">
        <textarea name="content" style="width:90%;height:480px;">bsad</textarea>
    </div>

</form>
<div class="row">
    <span style="margin-right:18px;">
        <input type="submit" id="btnadd" rel="1" style="width:60px; height: 24px;" />确认
    </span><span style="margin-right:18px;">
        <button id="reset" style="width:60px; height: 24px;">重置</button>
    </span><span><button style="width:60px; height: 24px;">取消</button></span>
</div>


